# Cache URL for the application (e.g., Redis)
CACHE_URL=

# Secret key for cryptographic signing
SECRET_KEY=

# Database connection URL
DATABASE_URL=

# API key for use plunk email service
PLUNK_API_KEY=

# AWS Bucket
AWS_STORAGE_BUCKET_NAME=